<%- include('layout/head.ejs') %> 

    <%- include('partials/topo.ejs') %> 

    

    <div class="conteudo clear">

        <div id="primario">
            
            <div class="caixa destaque">
                <h2>Destaque</h2>
                <div class="caixa-conteudo">
                    <h3><%= noticia[0].titulo %></h3>
                    <img class="imagem-principal" src="img/taxi.jpg">
                    <p>
                        <%= noticia[0].descricao%>
                    </p>
                    <a href="#">Leia mais!</a>
                </div>
            </div>
            <div class="caixa">
                <h2>Mundo</h2>
                <div class="caixa-conteudo">
                    <ul id="lista-noticias">
                        <% noticia.forEach((el,i)=>{ %>
                            <li>
                                <a href="#" class="item">
                                    
                                    <img src="img/tecnologia.jpg" width="80">
                                    <div>
                                        <h3><%= el.titulo %></h3>
                                        <p><%= el.descricao %></p>
                                    </div>
                                    
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <div id="secundario">
            <div class="caixa entrevista">
                <h2>Ultima entrevista</h2>
                <div class="caixa-conteudo">
                    <h3>Entrevista com <%= noticia[1].entrevistado %></h3>
                    <img class="imagem-principal" src="img/doutor.jpg">
                    <p>
                        <%= noticia[1].descricao%>
                    </p>
                    <a href="#">Leia mais!</a>
                </div>
            </div>

            <div class="caixa">
                <h2>Noticias recentes</h2>
                <div class="caixa-conteudo">
                    <ul id="lista-noticias">
                        <% noticia.forEach((el,i)=>{ %>
                            <li>
                                <a href="#" class="item">
                                    
                                    <img src="img/cidade.jpg" width="80">
                                    <div>
                                        <h3><%= el.titulo %></h3>
                                        <p><%= el.descricao %></p>
                                        
                                    </div>
                                    
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <%- include('partials/lateral.ejs') %> 
        
    </div>
    
    

<%- include('layout/footer.ejs') %> 